{% extends 'base.html' %}
{% load static %}

{% block title %}
Carrinho de Alimentos - {{ block.super }}
{% endblock %}

{% block body %}
<div class="container-carrinho">
    <a href="{% url 'planosalimentares:lista_refeicoes_alimentos' %}" class="link-continuar">
        ➕ Continuar montando plano alimentar
    </a>
    
    <b>🛒 Carrinho de Alimentos</b>
    
    <div class="table-wrapper">
        {% if carrinho %}
        <table border="0">
            <thead>
                <tr>
                    <th>ID Alimento</th>
                    <th>Nome</th>
                    <th>Refeição</th>
                    <th>Quantidade (g)</th>
                    <th>Observação</th>
                    <th></th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for alimento_id, item in carrinho.items %}
                <tr>
                    <td>{{ alimento_id }}</td>
                    <td>{{ item.nome }}</td>

                    <form id="form-{{ alimento_id }}" method="post"
                        action="{% url 'planosalimentares:editar_carrinho' alimento_id %}">
                        {% csrf_token %}
                    </form>

                    <tr>
                        <select form="form-{{ alimento_id }}" name="refeicao">
                            <option value="1" {% if item.refeicao == '1' %}selected{% endif %}>Desjejum</option>
                            <option value="2" {% if item.refeicao == '2' %}selected{% endif %}>Lanche da Manhã</option>
                            <option value="3" {% if item.refeicao == '3' %}selected{% endif %}>Almoço</option>
                            <option value="4" {% if item.refeicao == '4' %}selected{% endif %}>Lanche da Tarde</option>
                            <option value="5" {% if item.refeicao == '5' %}selected{% endif %}>Jantar</option>
                            <option value="6" {% if item.refeicao == '6' %}selected{% endif %}>Ceia</option>
                        </select>
                    </td>

                    <td>
                        <input form="form-{{ alimento_id }}" type="number" name="quantidade" value="{{ item.quantidade }}"
                            min="1">
                    </tr>

                    <td>
                        <input form="form-{{ alimento_id }}" type="text" name="observacao" value="{{ item.observacao }}">
                    </td>

                    <td>
                        <button form="form-{{ alimento_id }}" type="submit">Atualizar</button>
                    </td>

                    <td>
                        <a href="{% url 'planosalimentares:deletar_carrinho' alimento_id %}">Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <a href="{% url 'planosalimentares:checkout' %}" class="link-finalizar">
            ✅ Finalizar Pedido
        </a>
        {% else %}
        <div class="carrinho-vazio">
            <p>🛒 Carrinho vazio.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}