{% extends 'base.html' %}
{% load static %}

{% block title %}
Finalizar Ficha de Treino - {{ block.super }}
{% endblock %}


{% block body %}
<div class="container-finalizar">
    <b>Finalizar Ficha de Treino</b>
    
    {% if carrinho %}
    <form method="post">
        {% csrf_token %}

        <label>Nome da Ficha:</label>
        <input type="text" name="nome" required placeholder="Ex: Treino Hipertrofia A">
        <br />
        <br />

        <label>Descrição (Opcional):</label>
        <input type="text" name="descricao">
        <br />
        <br />

        <label>Ficha Ativa?</label>
        <select name="esta_ativo" required>
            <option value="True">Sim</option>
            <option value="False">Não</option>
        </select>
        <br />
        <br />
        
        <label>Aluno:</label>
        <select name="aluno" required>
            <option value="">Selecione</option>
            {% for aluno in alunos %}
            <option value="{{ aluno.id }}">{{ aluno.nome }} {{ aluno.sobrenome }}</option>
            {% endfor %}
        </select>
        <br />
        <br />
        
        <label>Treinador:</label>
        <select name="treinador" required>
            <option value="">Selecione</option>
            {% for treinador in treinadores %}
            <option value="{{ treinador.id }}">{{ treinador.nome }} {{ treinador.sobrenome }}</option>
            {% endfor %}
        </select>
        <br />
        <br />
        
        <div class="table-wrapper">
            <table border="0">
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Exercício</th>
                        <th>Séries</th>
                        <th>Repetições</th>
                        <th>Intervalo</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exercicio_id, item in carrinho.items %}
                    <tr>
                        <td>{{ item.dia_treino }}</td>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.serie }}</td>
                        <td>{{ item.repeticao }}</td>
                        <td>{{ item.intervalo }}</td>
                        <td>{{ item.observacao }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <br />
        <br />
        <button type="submit">Confirmar Ficha</button>
    </form>
    {% else %}
    <div class="carrinho-vazio">
        <b>Carrinho vazio.</b>
    </div>
    {% endif %}
</div>
{% endblock %}