{% extends 'base.html' %}
{% load static %}

{% block title %}
Lista de Exercícios para Treino - {{ block.super }}
{% endblock %}


{% block body %}
<div class="container-lista">
    <a href="{% url 'fichastreinos:carrinho' %}" class="link-carrinho">
        🛒 Ver Carrinho
    </a>
    
    <b>Lista de Exercícios</b>
    
    <div class="table-wrapper">
        <table border="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Grupo Muscular</th>
                    <th>Foto</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for exercicio in exercicios %}
                <tr>
                    <td>{{ exercicio.id }}</td>
                    <td>{{ exercicio.nome }}</td>
                    <td>{{ exercicio.descricao }}</td>
                    <td>{{ exercicio.grupomuscular }}</td>
                    <td>
                        {% if exercicio.foto %}
                        <a href="{{ exercicio.foto.url }}" target="_blank" rel="noopener noreferrer">
                            <img src="{{ exercicio.foto.url }}" class="foto-exercicio" alt="{{ exercicio.nome }}">
                        </a>
                        {% else %}
                        Sem foto
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'fichastreinos:adicionar_carrinho' exercicio.id %}">➕ Adicionar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="empty-state">Nenhum produto encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}