{% extends 'base.html' %}
{% load static %}

{% block title %}
Adicionar Aluno - {{ block.super }}
{% endblock title %}

{% block body %}
<div class="container-form">
    <b>📝 Cadastro de Aluno</b>
    
    <form action="" method="POST">
        {% csrf_token %}
        
        <label>Nome</label>
        <br />
        {{ form.nome }}
        <br />
        <br />
        
        <label>Sobrenome</label>
        <br />
        {{ form.sobrenome }}
        <br />
        <br />
        
        <label>Data de Nascimento</label>
        <br />
        {{ form.data_nascimento }}
        <br />
        <br />
        
        <label>Endereco</label>
        <br />
        {{ form.endereco }}
        <br />
        <br />
        
        <label>Telefone</label>
        <br />
        {{ form.telefone }}
        <br />
        <br />
        
        <label>E-mail</label>
        <br />
        {{ form.email }}
        <br />
        <br />
        
        <label>Genero</label>
        <br />
        {{ form.genero }}
        <br />
        <br />
        
        <label>Meta</label>
        <br />
        {{ form.meta }}
        <br />
        <br />
        
        <label>Fichas Medicas</label>
        <br />
        {{ form.fichamedica }}
        <br />
        <br />
        
        <button type="submit">💾 Salvar</button>
    </form>
</div>
{% endblock body %}