{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My hero Academy</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <form action="" method="POST" class="form-signin">
        {% csrf_token %}
        <b>Identifique-se</b>
        <br />
        <br />
        <label>Usuario</label>
        <input type="text" id="usuario" name="usuario" placeholder="Nome de usuario" required autofocus>
        <br />
        <br>
        <label>Senha</label>
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
        <br />
        <br />
        <button type="submit">Entrar</button>
        <br />
        <br />
        <a href="{% url 'contas:adicionar_usuario' %}">Criar uma conta</a>
    </form>
    <script src="{% static 'js/arquivo_com_javascript.js' %}"></script>
</body>

</html>