{% extends 'base.html' %}
{% load static %}

{% block title %}
Finalizar Plano Alimentar - {{ block.super }}
{% endblock %}

{% block body %}
<div class="container-finalizar">
    <b>📋 Finalizar Plano Alimentar</b>
    
    {% if carrinho %}
    <form method="post">
        {% csrf_token %}

        <label>Nome do Plano:</label>
        <input type="text" name="nome" required placeholder="Ex: Dieta Bulking">
        <br />
        <br />

        <label>Descrição (Opcional):</label>
        <input type="text" name="descricao" placeholder="Descrição do plano alimentar">
        <br />
        <br />

        <label>Plano Ativo?</label>
        <select name="esta_ativo" required>
            <option value="True">Sim</option>
            <option value="False">Não</option>
        </select>
        <br />
        <br />

        <label>Aluno:</label>
        <select name="aluno" required>
            <option value="">Selecione o Aluno</option>
            {% for aluno in alunos %}
            <option value="{{ aluno.id }}">{{ aluno.nome }} {{ aluno.sobrenome }}</option>
            {% endfor %}
        </select>
        <br />
        <br />

        <label>Nutricionista:</label>
        <select name="nutricionista" required>
            <option value="">Selecione o Nutricionista</option>
            {% for nutricionista in nutricionistas %}
            <option value="{{ nutricionista.id }}">{{ nutricionista.nome }} {{ nutricionista.sobrenome }}</option>
            {% endfor %}
        </select>
        <br />
        <br />

        <div class="table-wrapper">
            <table border="0">
                <thead>
                    <tr>
                        <th>Cód. Refeição</th>
                        <th>Alimento</th>
                        <th>Quantidade (g)</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alimento_id, item in carrinho.items %}
                    <tr>
                        <td>{{ item.refeicao }}</td>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.quantidade }}g</td>
                        <td>{{ item.observacao|default:"-" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <br />
        <br />
        <button type="submit">✅ Confirmar Dieta</button>
    </form>
    {% else %}
    <div class="carrinho-vazio">
        <b>🛒 Carrinho vazio.</b>
    </div>
    {% endif %}
</div>
{% endblock %}