{% extends 'base.html' %}
{% load static %}

{% block title %}
Lista de Alimentos Disponíveis - {{ block.super }}
{% endblock %}


{% block body %}
<div class="container-lista">
    <a href="{% url 'planosalimentares:carrinho' %}" class="link-carrinho">
        🛒 Ver Carrinho da Dieta
    </a>
    
    <b>🍽️ Lista de Alimentos Disponíveis</b>
    
    <div class="table-wrapper">
        <table border="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Porção base</th>
                    <th>Kcal</th>
                    <th>Proteína (g)</th>
                    <th>Carbo (g)</th>
                    <th>Gordura (g)</th>
                    <th>Foto</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for alimento in alimentos %}
                <tr>
                    <td>{{ alimento.id }}</td>
                    <td>{{ alimento.nome }}</td>
                    <td>{{ alimento.descricao }}</td>
                    <td>{{ alimento.categoriaalimento }}</td>

                    <td>{{ alimento.porcao_referencia_gramas }}g/ml</td>
                    <td>{{ alimento.calorias }}</td>
                    <td>{{ alimento.proteina }}</td>
                    <td>{{ alimento.carboidrato }}</td>
                    <td>{{ alimento.gordura }}</td>

                    <td>
                        {% if alimento.foto %}
                        <a href="{{ alimento.foto.url }}" target="_blank" rel="noopener noreferrer">
                            <img src="{{ alimento.foto.url }}" class="foto-alimento" alt="{{ alimento.nome }}">
                        </a>
                        {% else %}
                        Sem foto
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'planosalimentares:adicionar_carrinho' alimento.id %}">➕ Adicionar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="11" class="empty-state">Nenhum alimento encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}