{% extends 'base.html' %}
{% load static %}

{% block title %}
Lista de Personal - {{ block.super }}
{% endblock title %}


{% block body %}
<div class="container-lista">
    <a href="{% url 'treinadores:adicionar_treinador' %}" class="link-adicionar">
        ➕ Cadastro de novo Personal
    </a>
    
    <b>🏋️ Lista de Personal</b>
    
    <div class="table-wrapper">
        <table border="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Endereco</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Registro CREF</th>
                    <th>Tipo de Treinamento</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for treinador in treinadores %}
                <tr>
                    <td>{{ treinador.id }}</td>
                    <td>{{ treinador.nome }}</td>
                    <td>{{ treinador.sobrenome }}</td>
                    <td>{{ treinador.endereco }}</td>
                    <td>{{ treinador.telefone }}</td>
                    <td>{{ treinador.email }}</td>
                    <td>{{ treinador.registroCREF }}</td>
                    <td>{{ treinador.tipo_treinamento }}</td>
                    <td>
                        <a href="{% url 'treinadores:editar_treinador' treinador.id %}">Editar</a>
                    </td>
                    <td>
                        <a href="{% url 'treinadores:deletar_treinador' treinador.id %}">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}